{% extends 'layouts/base.html' %}

{%block content%}

    <h1>ABOUT</h1>
    <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ea, accusamus ducimus quod, quis debitis veritatis optio amet ex deleniti distinctio eos dignissimos quaerat et in fugit. Sit asperiores dolores aliquam recusandae iusto, dolor accusantium facilis? Cupiditate perspiciatis, asperiores quaerat omnis itaque nesciunt hic similique sit assumenda fugiat dicta alias ducimus sunt laboriosam. Fugit neque saepe numquam maxime quisquam exercitationem, est mollitia sequi nostrum distinctio enim molestiae libero accusamus, aliquam, soluta hic? Similique totam sunt necessitatibus, aliquid vel eos nulla eveniet eum amet. Repudiandae at tempore itaque odit necessitatibus, aut, vero totam voluptas sunt consequuntur debitis saepe commodi voluptatem maiores.</P>

<p>WEBSITE CREATED BY {{username}}</p>

{% endblock %}