@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-darkerblue: #265073;
    --buttons-blue: #0766AD;
    --primary-lightblue: #AED3F2;
    --lighter-blue: #D5E5F2;
    --second-lighter-blue: #c8e1f5;
    --background-color: #F3F3F3;
    --border-gray: #b3b3b3;
    --liner-gray: #d3d2d2;
    --button-gray: #e4e4e4;
    --complement-cian: #009eb3;
    --complement-blue: #105183;
}


html {
    font-size: 62.5%;
    font-family: "Poppins", serif;
    overflow-x: hidden;   
}


body{
    background-color: var(--background-color);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}



/*------------ MAIN CONTENT -----------*/

.main-content{
    flex: 1;
    padding: 2rem;
}

.barra-content{
    flex: 1;
    margin-left: 25rem;
}

.content-header{
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 1px solid var(--border-gray);
}

.breadcrumb{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.3rem;
}

.breadcrumb-item{
    color: var(--buttons-blue);
}

.breadcrumb-item.active{
    color: var(--primary-darkerblue);
    font-weight: 500;
}
