   
 {% extends 'layouts/base2.html' %}


 {% load static %}
 
 {%block content%}
 
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANTECEDENTES PERSONALES | IIG - LUZ</title>
    <link rel="stylesheet" href= "{% static '/styles/stylesforms.css' %}">
</head>



 <div class="form-container">
   
    <h1>Antecedentes Personales</h1><br><br>
    {% if errors %}
    <div class="alert alert-danger">
        <strong>Errores:</strong>
        <ul>
            {% for field, error_list in errors.items %}
                <li>{{ field }}: {{ error_list }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post">
        
    {% csrf_token %}

    
    
        <div class="form-section">
            <div class="section-header" onclick="toggleSection('prenatales')">
                <h3>1. Antecedentes prenatales y obstetricos</h3>
            </div>
            <div id="prenatales-content" class="section-content">
                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="fur">FUR (Fecha de Última Regla)</label>
                        {{ form.fur }}
                    </div>
                    <div class="third-width">
                        <label for="controles_prenatales">Controles Prenatales</label>
                        {{ form.controles_prenatales }}
                    </div>
                    <div class="third-width">
                        <label for="edad_gestacional">Edad Gestacional</label>
                        {{ form.edad_gestacional }}
                    </div>
                </div>
                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="numero_partos">Número de Partos</label>
                        {{ form.numero_partos }}
                    </div>
                    <div class="third-width">
                        <label for="numero_gestas">Número de Gestas</label>
                        {{ form.numero_gestas }}
                    </div>
                    <div class="third-width">
                        <label for="numero_cesareas">Número de Cesáreas</label>
                        {{ form.numero_cesareas }}
                    </div>
                </div>

                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="numero_abortos">Número de Abortos</label>
                        {{ form.numero_abortos }}
                    </div>
                    <div class="third-width">
                        <label for="numero_mortinatos">Número de Mortinatos</label>
                        {{ form.numero_mortinatos }}
                    </div>
                    <div class="third-width">
                        <label for="numero_malformaciones">Número de Malformaciones</label>
                        {{ form.numero_malformaciones }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="complicaciones_embarazo">Complicaciones del Embarazo</label>
                    {{ form.complicaciones_embarazo }}
                </div>
                <div class="form-group">
                    <label for="exposicion_teratogenos">Exposición a Teratógenos</label>
                    {{ form.exposicion_teratogenos }}
                </div>
                <div class="form-group">
                    <label for="descripcion_exposicion">Descripción de la Exposición</label>
                    {{ form.descripcion_exposicion }}
                </div>
                <div class="form-group">
                    <label for="enfermedades_maternas">Enfermedades Maternas</label>
                    {{ form.enfermedades_maternas }}
                </div>
                <div class="form-group">
                    <label for="complicaciones_parto">Complicaciones del Parto</label>
                    {{ form.complicaciones_parto }}
                </div>
                <div class="form-group">
                    <label for="otros_antecedentes">Otros Antecedentes</label>
                    {{ form.otros_antecedentes }}
                </div>

                <div class="form-group">
                    <label for="Observaciones-prenatales">Observaciones</label>
                    {{ form.observaciones }}
                </div>
            </div>
        </div>
        
        <div class="form-section">
            <div class="section-header" onclick="toggleSection('neonatal')">
                <h3>2. Periodo Neonatal</h3>
            </div>
            <div id="neonatal-content" class="section-content">
                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="peso_nacer">Peso al Nacer (kg)</label>
                        {{ form.peso_nacer }}
                    </div>
                    <div class="third-width">
                        <label for="talla_nacer">Talla al Nacer (cm)</label>
                        {{ form.talla_nacer }}
                    </div>
                    <div class="third-width">
                        <label for="circunferencia_cefalica">Circunferencia Cefálica (cm)</label>
                        {{ form.circunferencia_cefalica }}
                    </div>
                </div> 
                <div class="form-group">
                    <h3>Complicaciones</h3><br><br>
                </div>  
                            
                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="cianosis">Cianosis</label>
                        {{ form.cianosis }}
                    </div>
                    <div class="third-width">
                        <label for="ictericia">Ictericia</label>
                        {{ form.ictericia }}
                    </div>
                    <div class="third-width">
                        <label for="hemorragia">Hemorragia</label>
                        {{ form.hemorragia }}
                    </div>
                </div>
                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="infecciones">Infecciones</label>
                        {{ form.infecciones }}
                    </div>
                    <div class="third-width">
                        <label for="convulsiones">Convulsiones</label>
                        {{ form.convulsiones }}
                    </div>
                    <div class="third-width">
                        <label for="vomitos">Vómitos</label>
                        {{ form.vomitos }}
                    </div>
                </div>
               
                <div class="form-group">
                    <label for="observacion_complicaciones">Observaciones de Complicaciones</label>
                    {{ form.observacion_complicaciones }}
                </div>
                <div class="form-group">
                    <label for="otros_complicaciones">Otras Complicaciones</label>
                    {{ form.otros_complicaciones }}
                </div>
            </div>
        </div>

        <div class="form-section">
            <div class="section-header" onclick="toggleSection('alimentacion')">
                <h3>3. Alimentación y Evolución</h3>  
            </div>
            <div id="alimentacion-content" class="section-content">
                <div class="form-group">
                    <label for="tipo_alimentacion">Tipo de Alimentación</label>
                    {{ form.tipo_alimentacion }}
                </div>
                <div class="form-group">
                    <label for="observaciones_alimentacion">Observaciones de Alimentación</label>
                    {{ form.observaciones_alimentacion }}
                </div>
                <div class="form-group">
                    <label for="evolución">Evolución</label>
                    {{ form.evolucion }}
                </div>
            </div>
        </div>

        <div class="form-section">
            <div class="section-header"  onclick="toggleSection('psicomotor')">
                <h3>4. Desarrollo Psicomotor</h3>  
            </div>
            <div id="psicomotor-content" class="section-content">
                <div class="form-group">
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>Desarrollo Psicomotor</th>
                                <th>VH (Valor Habitual)</th>
                                <th>PCTE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sostener Cabeza</td>
                                <td>1er Mes</td>
                                <td>{{ form.sostener_cabeza }}</td>
                            </tr>
                            <tr>
                                <td>Sonrisa Social</td>
                                <td>2do Mes</td>
                                <td>{{ form.sonrisa_social }}</td>
                            </tr>
                            <tr>
                                <td>Sentarse</td>
                                <td>6to Mes</td>
                                <td>{{ form.sentarse }}</td>
                            </tr>
                            <tr>
                                <td>Gatear</td>
                                <td>9no Mes</td>
                                <td>{{ form.gatear }}</td>
                            </tr>
                            <tr>
                                <td>Pararse</td>
                                <td>11vo Mes</td>
                                <td>{{ form.pararse }}</td>
                           </tr>
                            <tr>
                                <td>Caminar</td>
                                <td>12vo Mes</td>
                                <td>{{ form.caminar }}</td>
                            </tr>
                            <tr>
                                <td>Primeras Palabras</td>
                                <td>12vo Mes</td>
                                <td>{{ form.primeras_palabras }}</td>
                            </tr>
                            <tr>
                                <td>Primeros Dientes</td>
                                <td>6to Mes</td>
                                <td>{{ form.primeros_dientes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label for="progreso_escuela">Progreso en la Escuela</label>
                    {{ form.progreso_escuela }}
                </div>
                <div class="form-group">
                    <label for="progreso_peso">Progreso en Peso</label>
                    {{ form.progreso_peso }}
                </div>
                <div class="form-group">
                    <label for="progreso_talla">Progreso en Talla</label>
                    {{ form.progreso_talla }}
                </div>
                <div class="form-group">
                    <label for="observaciones_habitos_psicologicos">Observaciones de Habitos psicologicos</label>
                    {{ form.observaciones_habitos_psicologicos }}
                </div>
            </div>
        </div><br><br>

        <div class="form-actions">
            <button type="submit">Siguiente</button>
        </div>
    </form>
</div>

<script src="https://kit.fontawesome.com/8058dee255.js" crossorigin="anonymous"></script>

<script>
    // Mantener seguimiento de las secciones abiertas
    let openSection = 'prenatales';
    
    // Función para alternar secciones
    function toggleSection(sectionId) {
        const content = document.getElementById(`${sectionId}-content`);
        const header = document.querySelector(`[onclick="toggleSection('${sectionId}')"]`);
        
        // Si la sección clickeada ya está abierta
        if (openSection === sectionId) {
            content.classList.remove('active');
            header.style.backgroundColor = ''; //Elimina el color del header para permitir el hover
            openSection = null; // Ninguna sección abierta
            return;
        }
        
        // Cerrar la sección actualmente abierta
        if (openSection) {
            const currentContent = document.getElementById(`${openSection}-content`);
            const currentHeader = document.querySelector(`[onclick="toggleSection('${openSection}')"]`);
            currentContent.classList.remove('active'); 
        }
        
        // Abrir la nueva sección
        content.classList.add('active');
        openSection = sectionId;
    }

    // Inicializar el formulario
    document.addEventListener('DOMContentLoaded', function() {
        // Abrir la primera sección por defecto
        document.getElementById('prenatales-content').classList.add('active');       
    });
</script>

{% endblock %}   