{% extends 'layouts/base2.html' %}
{% load static %}

{% block form_content %}

<head>
    <title>Autorización</title>
    <link rel="stylesheet" href="{% static '/styles/stylesforms.css' %}">
</head>

<div class="contenedor-formulario">
        <form>
            <div class="form-step active">
            <div class="step-content-header">
                <i class="fas fa-file"></i>
                <h2>Autorización</h2>
            </div>

            <p class="step-subtitle">Datos de la autorización del Paciente o Representante</p>

            <p class="historia-info"></p>
            <p class="editing-info"><em>Modo Edición: Actualizando datos del propósito.</em></p><br><br>
           
            <div class="alert alert-danger non-field-errors"></div>

            <div id="autorizaciones-section">
                <div class="form-group-tres">
                    <div class="third-width">
                        <label for="autorizacion_examenes">Autorización para Exámenes</label>
                        <select id="autorizacion_examenes" name="autorizacion_examenes">
                            <option value="">Seleccione...</option>
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="third-width">
                        <label for="archivo_autorizacion">Archivo de Autorización</label>
                        <input type="file" id="archivo_autorizacion" name="archivo_autorizacion">
                    </div>
                    <div class="third-width">
                        <label for="representante-paciente">Representante o Paciente</label>
                        <input type="text" id="representante-paciente" name="representante-paciente">
                    </div>
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn-primary">Guardar</button>
            </div>
        </form>
</div>
{% endblock form_content %}